{
  "data": {
    "attributes": {
      "is-destroy": "tfc_run_destroy_value"
    },
    "type":"runs",
    "relationships": {
      "workspace": {
        "data": {
          "type": "workspaces",
          "id": "tfc_workspace_id"
        }
      }
    }
  }
}